<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="penulisan">
    <head lang="en">

        <meta name="keywords" content="" />
        <meta name="description" content="" />

        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div>TODO write content</div>
        <div ng-view="">

            </div>

        <script th:src="@{/webjars/angular/1.5.6/angular.min.js}" type="application/javascript"></script>
        <script th:src="@{/webjars/angular-sanitize/1.5.6/angular-sanitize.min.js}" type="application/javascript"></script>
        <script th:src="@{/webjars/angular-route/1.5.6/angular-route.min.js}" type="application/javascript"></script>
     
     <script th:src="@{/angular/user/controllers/user.controller.js}" type="application/javascript"></script>
         <script th:src="@{/angular/user/services/user.service.js}" type="application/javascript"></script>
         <script th:src="@{/angular/user/app.js}" type="application/javascript"></script>
          </body>
</html>
